@import '../../styles/theme';

.file-history {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: $secondary-color;
    color: $font-color;
    overflow-y: auto;

    h1 {
        margin: 0px;
    }
}

.file-history-commit {
    list-style: none;
    min-width: 200px;
    height: 100px;
}

.file-history-commit-header {
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 3px;
}

.file-history-commit-hash {
    border-radius: 2px;
    background-color: green;
    color: white;
    padding: 1px 3px;
    font-weight: bold;
    font-size: smaller;
}

.file-history-commit:nth-child(even) {
    background-color: lighten($secondary-color, 5%);
}

.file-history-commit:hover {
    background-color: $primary-highlight-color;
    cursor: pointer;
}
