<!DOCTYPE html>
html
    head
        link(rel="stylesheet" type="text/css" href="../styles/theme.less")
        link(rel="stylesheet" type="text/css" href="../styles/window-editor.less")
    body
        div#toolbar
            button B
        textarea#content
        script(type="application/javascript" src="../lib/window-editor.js")
