#explorer-tree {
    height: 100%;
    width: 200px;
    margin: 0px;
    padding: 0px;
    background-color: #090b0d;
    color: white;

    li {
        display: flex;
        height: 30px;
        align-items: center;
        justify-content: center;
        background-color: rgb(31, 37, 39);
        margin-bottom: 1px;
        font-size: 14px;
    }

    li:hover {
        cursor: pointer;
        background-color: #286161;
    }
}
