$primary-color: #181a1c;
$secondary-color: #1d1f21;
$tertiary-color: #1f2527;

$primary-highlight-color: #286161;
$secondary-highlight-color: rgb(174, 232, 218);

$font-color: white;
$font-size: 15px;

$status-bar-height: 20px;
