@import 'theme';
@import 'application';
@import 'components';
@import 'syntax';

html, body, #root {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    font-family: sans-serif;
}

#viewport {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    #workspace {
        display: flex;
        flex-direction: row;
        height: 100%;

        #left-sidebar, #main-panel, #right-sidebar {
            height: 100%;
            flex-grow: 1;
            min-width: 200px;
        }

        #left-sidebar {
            overflow-y: auto;
            overflow-x: hidden;
            resize: horizontal;
        }

        #main-panel {
            display: flex;
            flex-direction: column;
            width: 100%;
        }
    }

    #bottom-bar {
        width: 100%;
    }

}
