@import '../../styles/theme';

.content-assist {

    .content-assist-suggestion {
        cursor: pointer;

        &:hover {
            background-color: lighten($primary-highlight-color, 20%);
        }
    }

    .content-assist-suggestion-selected {
        background-color: $primary-highlight-color;
    }
}
