<!DOCTYPE html>
html
    head
        link(rel="stylesheet" type="text/css" href="../styles/theme.less")
        link(rel="stylesheet" type="text/css" href="../styles/window.less")
    body
    div#workspace
        div#left-sidebar
            include ../components/explorer/explorer.jade
        div#main-panel
            include ../components/dashboard/dashboard.jade
        div#right-sidebar
    div#bottom-bar
