@import '../../styles/highlight-syntax';
@import '../../styles/quill';

.text-editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;

    pre {
        margin: 0px;
    }
}

.text-editor:focus {
    outline: none;
}

.text-editor-content {
    display: flex;
    height: 100%;
    width: 100%;
}
