<!DOCTYPE html>
html
    head
        link(rel="stylesheet" type="text/css" href="./styles/application.css")
    body
        div#viewport
            div#workspace
                div#left-sidebar
                    include components/explorer/explorer.pug
                div#main-panel
                    include components/dashboard/dashboard.pug
                div#right-sidebar
            div#status-bar
